@font-face {
    font-family: a;
    src: url(./jost-variable.woff2);
}

@font-face {
    font-family: b;
    src: url(./KFOlCnqEu92Fr1MmEU9fBBc4.woff2);
}

@font-face {
    font-family: c;
    src: url(./KFOmCnqEu92Fr1Mu4mxK.woff2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
}

#main {
    position: relative;
    background-color: #0A3CCE;

}
#page1{
    width: 100vw;
    height: 100vh;
    background-color: #0940DD;

}
#page1 video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#page1 #nav{
    width: 100%;
    height: 10vh;
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}
#nav img{
    width: 5%;
}
#nav-left button{
    padding: 6px 15px;
    border-radius: 50px;
    border: 0.4px solid #FFFFFF;
    color: #ffffff9b;
    background-color: #0940DD;
}
#page1-content{
    position: absolute;
    top: 40%;
    left: 10%;
    color: white;
}
#page1-content h1{
    font-size: 6vw;
    font-family: a;
    font-weight: 300;
    line-height: 6.6vw;
}
#page1-contant-p1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
#page1-contant-p1 p{
    font-family: a;
}
#page1-contant-p1 button{
    padding: 15px 30px;
    border-radius: 50pc;
    border: none;

}
#page2{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color:#0940DD;
    position: relative ;
    font-family: a;
    padding: 0px 8vw;
    color: white;
}
#page2 h2{
    font-size: 1.3vw;
    font-weight: 300;
}
#page2 h1{
    font-size: 4vw;
    font-weight: 300;
    line-height: 5vw;
    margin-top: 10px;
    color: #424242;
}
#page3{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #0940DD;
}
#page3 canvas{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#page4{
    width: 100vw;
    height: 100vh;
    position: relative;
    padding: 0px 10vw;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    background-color: #0940DD;
    color: white;
}
#page4 h5{
    font-family: a;
    font-weight: 400;
    font-size: 1.2vw;

}
#page4 h1{
    font-size: 4vw;
    font-family: a;
    line-height: 1.1;
    margin-top: 10px;
    font-weight: 300;
    color: rgb(176, 176, 176);
}
#page5{
    width: 100vw;
    height: 100vh;
    position: relative;
    /* background-color: #dd6109; */
}
#page5 canvas{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#page6{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 0px 10vw;
    position: relative;
    background-color: #0B2FC1;
    color: white;
}
#page6 h4{
    font-family: a;
    font-weight: 400;

}
#page6 h1{
    font-size: 4.5vw;
    font-family: a;
    line-height: 1.2;
    font-weight: 300;
    margin-top: 10px;
    color: rgb(102, 102, 102);
}
#page7{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #0940DD;
}
#page7 canvas{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#page7-cir{
    height: 30vh;
    width: 30vh;
    /* background-color: red; */
    position: absolute;
    z-index: 9;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: .5px solid rgba(255, 255, 255, 0.507);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0a3bce49;
}
#page7-inner-cir{
    height: 70%;
    width: 70%;
    border-radius: 50%;
    background-color: rgb(173, 126, 126);
    background-color: transparent;
    border: .5px solid rgba(255, 255, 255, 0.451);
}
#page8{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #0940DD;

}
#page8 video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#page8-bottom{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: a;
    text-align: center;
}

#page8-bottom h1{
    font-size: 100px;
    font-weight: 400;
    color: white;
}
#page8-bottom button{
    padding: 15px 30px;
    border-radius: 50px;
    border: none;
    font-family: a;
}
#page9{
    display: flex;
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
}
.left9{
    height: 100%;
    width: 40%;
    position: relative;
    font-family: a;
}
.left9 h1{
    position: absolute;
    top: 40%;
    right:40%;
    transform: translateY(-50%);
    font-size: 5vw;
    font-weight: 400;
    color: #fff;
    line-height: 1;
}
.right9{
    height: 100%;
    width: 60%;
    position: relative;
}
.right9-center{
    height: 50%;
    width: 85%;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-image: url(https://thisismagma.com/wp-content/uploads/2023/04/magma.wp2.cubdev.com-home-1.jpeg);
    background-size: cover;
    left: 5%;
}
#page10{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #0a3cce;
}
.right10{
    height: 100%;
    width: 60%;
    position: relative;
    left: 40%;
}
.right10-inner{
    display: flex;
    align-items: start;
    flex-direction: column;
    height: 33.3%;
    width: 100%;
    font-family: a;
    color: #fff;
}
.right10-inner h1{
    font-size: 2vw;
    font-weight: 400;
}
.right10-inner p{
    margin-top: 2vw;
    font-size: 1.3vw;
    width: 80%;
}

#page11{
    position: relative;
    height: 110vh;
    width: 100vw;
    background-color: #fff;
    font-family: a;
}
#page11-h1{
    position: absolute;
    top: 5%;
    left: 10%;
    font-size: 4vw;
    color: #000;
    font-weight: 400;
}
.page11-inner{
    display: flex;
    top: 18%;
    position: relative;
    margin-bottom: 2vw;
    height: 24%;
    width: 100%;
}
.left11{
    position: relative;
    height: 100%;
    width: 40%;
    left: 5%;
    border-radius: 10px;
    overflow: hidden;
}
.left11 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.page11-inner .right11{
    color: #000;
    left: 50%;
    position: absolute;
    height: 100%;
    width: 50%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right11 h4{
    font-weight: 300;
}
.page11-inner .right11>h1{
    font-size: 2vw;
    font-weight: 300;
}


#page12{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: #02268e;
}
.page12-inner{
    position: absolute;
    top: 20%;
    right: 10%;
    color: #fff;
    font-family: a;
}
.page12-inner h1{
    font-size: 5vw;
    font-weight: 100;
}
.page12-inner p{
    font-size: 1.3vw;
}


#page13{
    position: relative;
    height: 50vh;
    width: 100vw;
    background-color: #000;
    color: #fff;
    font-family: a;
    padding: 7vw 10vw;
}
#page13 h1{
    font-size: 3vw;
    line-height: 1;
    font-weight: 500;
}
#page13 button{
    padding: 18px 30px;
    border: none;
    background-color: #0a3cce;
    color: #fff;
    border-radius: 50px;
    margin-top: 2vw;
    font-weight: 400;
}


#page14{
    position: relative;
    height: 60vh;
    width: 100vw;
    background-color: #000;
}
.page14-inner{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0vw 5vw;
    font-family: a;
    height: 33.3%;
    width: 100%;
    color: #fff;
    border-top: .5px solid #ffffff5c;
    border-bottom: .5px solid #ffffff48;
}
.page14-inner i{
    font-weight: 100;
    font-size: 2.4vw;
    position: relative;
    z-index: 9999;
}
.page14-inner h1{
    font-size: 3vw;
    font-weight: 100;
    position: relative;
    z-index: 9999;
}

.center14{
    height: 0%;
    width: 100%;
    background-color: #0a3cce;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    transition: all ease .5s;
}


.page14-inner:hover .center14{
    height: 100%;
}